*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
body{
  background-color:#F5F5F5;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:90vh;
}
.content{
  width: 34.5rem;
  
}